{{#each popover.popovers as |p|}}
  {{#ember-wormhole destinationElement=p.destinationElement}}
  <div> {{! Need a stable element in the wormhole to ensure rendered components are removed in Ember 1.12}}
    {{#if p.componentName}}
      {{component p.componentName _propertyOptions=p.propertyOptions __renderPopoverNewAPI=true}}
    {{else}}
      {{#each p.childViews as |childView|}}
        {{view childView}}
      {{/each}}
    {{/if}}
  </div>
  {{/ember-wormhole}}
{{/each}}
