node_modules/
gh_pages/
build/
dependencies/compiled/*.*
test/runner.html
.DS_Store
*.swo
*.swp

# Bower dependencies
dependencies/bootstrap
dependencies/font-awesome
dependencies/holder
dependencies/jquery
dependencies/jquery-browser
dependencies/lodash
dependencies/qunit
dependencies/rangy

tests/*.js
