node_modules/
gh_pages/
build/
dependencies/compiled/*.*
test/runner.html
.DS_Store
*.swo
*.swp

# Bower dependencies
lib/bootstrap
lib/ember
lib/font-awesome
lib/handlebars
lib/holder
lib/jquery
lib/jquery-browser
lib/lodash
lib/qunit
lib/rangy
lib/sinonjs
lib/sinon-qunit

tests/**/*.js

npm-debug.log
