<div class="panel-heading">
  <h4 class="panel-title">
    <a class="accordion-toggle collapsed">
      {{view.title}}
    </a>
  </h4>
</div>
<div class="panel-collapse collapse">
  <div class="panel-body">{{yield}}</div>
</div>
