<button class="btn btn-default color-picker-dropdown-button" data-toggle="dropdown">
  {{#if isColorTransparent}}
    {{view Ember.Widgets.ColorPickerCell
      colorBinding="selectedColor"
      classNames="color-picker-cell-transparent"
    }}
  {{else}}
    {{view Ember.Widgets.ColorPickerCell
      colorBinding="selectedColor"
    }}
  {{/if}}
  <span class="pull-right fa fa-caret-down color-picker-dropdown-caret"></span>
</button>
