<div class="dropdown">
  <a data-toggle="dropdown" href="#">
    {{view Ember.Widgets.ColorPickerCell
      colorBinding ='selectedColor'
    }}
    <span class="fa fa-caret-down"></span>
  </a>
  <div {{bindAttr class=":dropdown-menu dropdownClass"}} role="menu" aria-labelledby="dLabel">
    {{#each row in colorRows}}
      <div class="color-row clearfix">
        {{#each color in row}}
          {{view Ember.Widgets.ColorPickerCell
            colorBinding = 'color'
           }}
        {{/each}}
      </div>
    {{/each}}
    <form>
      <div class="form-group form-group-sm">
        {{view Ember.TextField valueBinding="customColor"
          class="form-control"
          placeholder="Custom HEX value"
          type="text"
        }}
      </div>
    </form>
  </div>
</div>
