<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" {{action sendCancel}}>&times;</button>
      <h4 class="modal-title">{{headerText}}</h4>
    </div>
    <div class="modal-body">
      {{view _contentViewClass}}
    </div>
    <div class="modal-footer">
      {{view _footerViewClass}}
    </div>
  </div>
</div>