//
// Ember.Widgets.ColorPicker
// -----------------------------------------------------------------------------

.color-picker {
  display: inline-block
}

.ember-widget-color-button {
  padding: 0;

  .color-picker-cell {
    width: 25px;
    // This should be dependent on the button size
    height: 26px;
  }
}

.ember-color-picker-dropdown {
  min-width: 300px;
  padding: 10px 5px 5px 10px;
}

.color-row {
  .color-picker-cell {
    float: left;
    margin: 0 5px 5px 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}
