{{!-- Footer --}}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Ember Widgets</h6></li>
          <li>{{#link-to 'emberWidgets.overview'}}Overview &amp; Getting Started{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.documentation'}}API &amp; Documentation{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Widgets</h6></li>
          <li>{{#link-to 'emberWidgets.carousel'}}Carousel{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.modal'}}Modal{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.popover'}}Popover{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.select'}}Select{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.colorPicker'}}Color Picker{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.radioButton'}}Radio Button{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Addepar Open Source</h6></li>
          <li><a href="https://addepar.github.io/">Home</a></li>
          <li>{{#link-to 'license'}}License{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>About Addepar</h6></li>
          <li><a href="https://www.addepar.com">www.addepar.com</a></li>
          <li>
            <address>
              <br>
              <a href="https://www.google.com/maps/dir//303+Bryant+Street+Mountain+View,+CA+94041"><strong>Addepar MV</strong><br>
              303 Bryant Street<br>
              Mountain View, CA 94041</a><br><br>

              <a href="https://www.google.com/maps/dir//335+Madison+Ave+%231430,+New+York,+NY+10017"><strong>Addepar NY</strong><br>
              335 Madison Ave, Suite 1430<br>
              New York, NY 10017</a><br>
            </address>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-align">
        <p>&copy; 2018 Addepar, Inc.</p>
      </div>
    </div>
  </div>
</div>
