{{!-- Sub-Navigation --}}
<div class="col-md-2 sub-navigation-sidebar">
  <ul class="list-unstyled github-navigation">
    <li>
      <a class="btn btn-default" target="_BLANK" href="https://github.com/addepar/ember-widgets">
        <i class="icon-github"></i> View on GitHub
      </a>
    </li>
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=addepar&amp;repo=ember-widgets&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
    </li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Ember Widgets</li>
    <li>{{#link-to 'overview'}}Overview{{/link-to}}</li>
    <li>{{#link-to 'documentation'}}API &amp; Documentation{{/link-to}}</li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Examples</li>
    <li>{{#link-to 'accordion'}}Accordion{{/link-to}}</li>
    <li>{{#link-to 'carousel'}}Carousel{{/link-to}}</li>
    <li>{{#link-to 'modal'}}Modal{{/link-to}}</li>
    <li>{{#link-to 'popover'}}Popover{{/link-to}}</li>
    <li>{{#link-to 'select'}}Select{{/link-to}}</li>
    <li>{{#link-to 'color-picker'}}Color Picker{{/link-to}}</li>
    <li>{{#link-to 'radio-button'}}Radio Button{{/link-to}}</li>
  </ul>
</div>
