{{!-- addepar-navbar --}}
<nav class="navbar navbar-transparent addepar-navbar" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img id="logo_dark" class="logo" src="img/addepar_logo_light.png" /><span class="navbar-title">Open Source</span>
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Ember Widgets</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

{{outlet}}

{{!-- Footer --}}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-6">
        <ul class="list-unstyled">
          <li><h6>Ember Widgets</h6></li>
          <li>{{#link-to 'emberWidgets.overview'}}Overview &amp; Getting Started{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.documentation'}}API &amp; Documentation{{/link-to}}</li>
          <li class="bumper-30">{{#link-to 'emberWidgets.accordion'}}Accordion{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.carousel'}}Carousel{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.modal'}}Modal{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.popover'}}Popover{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.select'}}Select{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.textEditor'}}Text Editor{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.colorPicker'}}Color Picker{{/link-to}}</li>
          <li>{{#link-to 'emberWidgets.radioButton'}}Radio Button{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Open Source</h6></li>
          <li>{{#link-to 'emberWidgets.overview'}}Home{{/link-to}}</li>
          <li>{{#link-to 'license'}}License{{/link-to}}</li>
          <li>
            <address>
              <br><br>
              <a target="_BLANK" href="http://goo.gl/maps/446ui"><strong>Addepar HQ</strong><br>
              1215 Terra Bella Ave<br>
              Mountain View, CA 94043</a><br><br>

              <a target="_BLANK" href="http://goo.gl/maps/xEiCM"><strong>Addepar NY</strong><br>
              335 Madison Ave Suite 880<br>
              New York, NY 10017</a><br>
            </address>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-align">
        <p>&copy; 2013 Addepar, Inc.</p>
      </div>
    </div>
  </div>
</div>
