{{view Ember.CollectionView tagName="ol" class="carousel-indicators"
  content=view.content itemViewClass=carouselIndicatorClass
}}
<div class="carousel-inner">
  {{yield}}
</div>
<a class="left carousel-control"  href="#" {{action "prev"}}>‹</a>
<a class="right carousel-control" href="#" {{action "next"}}>›</a>
