<button class="btn btn-default color-picker-dropdown-button"
  {{action 'toggleDropdown'}}>
  {{color-picker-cell
    color=selectedColor
    classNameBindings="isColorTransparent:color-picker-cell-transparent"
  }}
  <span class="pull-right fas fa-caret-down color-picker-dropdown-caret"></span>
</button>
