<div {{bind-attr class=":modal-dialog sizeClass"}}>
  <div class="modal-content">
    <div class="modal-header">
      {{view _headerViewClass}}
    </div>
    <div class="modal-body">
      {{view _contentViewClass}}
    </div>
    <div class="modal-footer">
      {{view _footerViewClass}}
    </div>
  </div>
</div>
