<div>
  {{view searchView
    classBinding="searchFieldClass"
    disabled=disabled
    selectComponent=this}}
</div>
<div {{bind-attr class=":dropdown-menu :js-dropdown-menu dropdownMenuClass isDropdownMenuPulledRight:pull-right"}}>
  {{#if showDropdown}}
    {{partial listViewPartial}}
  {{/if}}
</div>
