<div>
  {{view searchView classBinding="searchFieldClass" disabled=disabled}}
</div>
{{#unless hasNoResults}}
  <div class="dropdown-menu">
    <ul class="ember-typeahead-results" style={{collectionStyle}}>
      {{#vertical-collection groupedContent
        estimateHeight=rowHeight
        staticHeight=true
        idForFirstItem=highlightedIdentity
      as |item|}}
        {{view itemView
          content=item
          highlighted=highlighted
          labelPath=optionLabelPath
          selection=selection
          showDropdown=showDropdown
          titleOnOptions=titleOnOptions
          selectComponent=this
        }}
      {{/vertical-collection}}
    </ul>
    {{#if footerView}}
      {{view footerView}}
    {{/if}}
  </div>
{{/unless}}
