<div>
  {{view searchView
    classBinding="searchFieldClass"
    disabled=disabled
    selectComponent=this}}
</div>
<div class="dropdown-menu js-dropdown-menu {{dropdownMenuClass}} {{if isDropdownMenuPulledRight 'pull-right'}}">
  {{#if showDropdown}}
    {{partial listViewPartial}}
  {{/if}}
</div>
