<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="row">
    <div class="col-md-12">
      <h2>Color Picker <small> Ember.Widgets.ColorPicker </small></h2>
      <p class="elevated">Color Picker.</p>
    </div>
    <div class="col-md-12">
      {{view Ember.Widgets.ColorPicker}}
    </div>
  </div>
</div>
