<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h2>Typeahead <small> Ember.Widgets.Typeahead</small></h2>
  <p class="elevated">TBD</p>

  <div class="row">
    <div class="col-md-6">
    <p>Soon...</p>
    </div>
  </div>
</div>
